// import Roboto, Open Sans, Oswald, Lato @400 and 700 weight
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&family=Roboto&display=swap");
// colors
$primary-color: #ffb5a7;
$secondary-color: #fcd5ce;
$third-color: #f8edeb;

$primary-text-color: black;

$primary-bg-color: white;

// fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Oswald", sans-serif;
$third-font: "Roboto", sans-serif;

// header width
$container-desktop: 65%;

// input form
$border-bottom: 2px solid $primary-color;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

header {
  width: 100%;
}

header a {
  text-decoration: none;
  color: $primary-text-color;
}

nav ul {
  text-decoration: none;
  text-transform: none;
  list-style: none;
}

// top header
#header-top-wrapper {
  background-color: $third-color;
}

#header-top {
  width: $container-desktop;
  background-color: $third-color;
  height: 30px;
  font-size: 12px;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header-top ul {
  margin: 7px;
  padding: 0px;
}

#header-top-right nav ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}
#header-top-right nav ul li {
  padding-left: 15px;
}
#header-top-left nav ul {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}
// top header end

// second header
#header-2nd-wrapper {
  background-color: $secondary-color;
  font-family: $secondary-font;
  font-weight: 700;
}
#header-2nd {
  width: $container-desktop;
  margin: auto;
}
// #header-2nd img {
//   height: 48px;
// }
#header-2nd div h1 {
  font-size: 35px;
  margin-top: -5px;
}

#header-2nd {
  height: 53px;
  font-size: 12px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
#header-2nd-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header-2nd-icon {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}
#header-2nd-icon i {
  padding: 20px;
  padding-right: 0;
}
#header-2nd-icon li {
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
}

// search bar
/* Style the search field */
form.search-bar-main input[type="text"] {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: $border-bottom;
  float: left;
  width: 80%;
  background: $secondary-color;
}

/* Style the submit button */
form.search-bar-main button {
  margin-top: 4px;
  float: left;
  width: 10%;
  padding: 10px;
  font-size: 17px;
  background-color: $secondary-color;
  border: none;
  border-bottom: $border-bottom;
  cursor: pointer;
}

form.search-bar-main button:hover {
  background: $primary-color;
}

form.search-bar-main input:focus,
button:focus {
  outline: none;
}

/* Clear floats */
form.search-bar-maine::after {
  content: "";
  clear: both;
  display: table;
}
// search bar end

// second header end

// main-menu bar
#main-menu {
  width: $container-desktop;
  margin: auto;
  // position: relative;
  // z-index: 1;
}
// #main-menu::after {
//   content: "";
//   position: absolute;
//   left: 25%;
//   bottom: 0;
//   height: 1px;
//   width: 50%; /* or 100px */
//   border-bottom: 2px solid $primary-color;
// }

#main-menu ul a:hover {
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  border-radius: 10px;
  cursor: pointer;
}

#main-menu ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

#main-menu ul li {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
}
// main-menu bar end

// HEADER STYLE END

// BODY CONTENT STYLE BEGIN

// main-slider

#slider-main {
  width: 100%;
  height: 480px;
  margin: 0px;
  padding: 0px;
}
// html,
// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// slider main end
